<ng-template #register let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Create an Account</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <form #signupForm="ngForm" (ngSubmit)="registerUser(signup)">

    <div class="modal-body">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" required class="form-control" placeholder="Email" name="email" #email="ngModel" [(ngModel)]="signup.email"/>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" required class="form-control" autocomplete="password" name="password" #password="ngModel" placeholder="Password" [(ngModel)]="signup.password">
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password:</label>
          <input type="password" required class="form-control" autocomplete="comfirm-password" name="confirmPassword" #confirmPassword="ngModel" placeholder="Confirm Password" [(ngModel)]="signup.confirmPassword">
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Register</button>
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
  </form>

</ng-template>

<ng-template #login let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title">Login</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #loginForm="ngForm" (ngSubmit)="loginUser(signin)">
      <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" required class="form-control" placeholder="Email" name="email" #email="ngModel" [(ngModel)]="signin.email"/>
      </div>
      <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" required class="form-control" autocomplete="password" name="password" #password="ngModel" placeholder="Password" [(ngModel)]="signin.password">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="loginWithGoogle()"><i class="fa fa-google"></i> Google</button>
    <button type="button" class="btn btn-outline-dark" (click)="open(register)">Sign Up</button>
  </div>
</ng-template>

<ng-template #account let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Status:</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <h4>Application Status: {{hasApplied? 'Application receieved!': 'Not received.'}}</h4>
        <div *ngIf="hasApplied; else notApplied">
            We have received your application and are currently reviewing it.
        </div>
        <ng-template #notApplied>
            <!-- <a (click)="apply()">Click here to apply</a> -->
            <p>Unfortunately we have reached the limit for participants. Please email us at <a href="mailto:ieeetamu.hackathon@gmail.com">ieeetamu.hackathon@gmail.com</a> if you have any questions or concerns.</p>

        </ng-template>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="logoutUser()">Logout</button>
    </div>
  </ng-template>

<section id="main" class="container">
    <header>
        <span class="image fit"><img src="/assets/img/logo.png" alt="" /></span>
        <h2>February 16-17, 2018</h2>
        <h3>Location: Hildebrand Equine Complex</h3>
        <div class="details form-group">
            <a class="btn btn-info btn-lg" [routerLink]="['sponsors']">Sponsors</a>
            <button class="btn btn-success btn-lg" [disabled]="isStudentPending" (click)="open(login)">Students <i *ngIf="isStudentPending" class="fa fa-spinner fa-spin" style="font-size:24px"></i></button>
        </div>
    </header>
    <div *ngIf="showSchedule" class="box">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="box-header">Schedule</h2>
            </div>
            <div class="col-sm-12 col-lg-6">
                <h5>7:00 PM - Opening Ceremony</h5>
                <h5>7:00 PM - Opening Ceremony</h5>
                <h5>7:00 PM - Opening Ceremony</h5>
                <h5>7:00 PM - Opening Ceremony</h5>
                <h5>7:00 PM - Opening Ceremony</h5>
                <h5>7:00 PM - Opening Ceremony</h5>

            </div>
            <div class="col-sm-12 col-lg-6">
                <h5>12:00 PM - Next Day</h5>
            </div>
        </div>
    </div>
    <div *ngIf="showHardware" class="box">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="box-header">Available Hardware</h2>
            </div>
            <div class="col-sm-12 col-lg-6">
                <ul>
                    <li>Raspberry Pi</li>
                    <li>Dreamer 3D Printer</li>
                    <li>Dremel 3D Printer</li>
                    <li>TI Launchpad</li>
                    <li>Grove Starter Kit for Launchpad</li>
                    <li>Sidekick Basic Kit for TI Launchpad</li>
                    <li>Arduino Uno</li>
                    <li>Breadboards</li>
                    <li>And more!</li>
                </ul>
            </div>
            <div class="col-sm-12">
                <p>For a full list of available hardware and quantities, <a href="https://docs.google.com/document/d/1jj-uPbxWjY-rsb06UJpdctZh6Gajdmn5CaJNcYyix7s" target="_blank">click here</a>.</p>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="box-header">FAQ</h2>
            </div>
            <div class="col-sm-12 col-lg-6">
                <h5>Who can attend?</h5>
                <p>You can attend TAMUmake if you are a college student over 18 years old. This includes undergraduates and graduate students. You must provide your college ID at check-in.</p>
                <h5>Why come to TAMUmake?</h5>
                <p>Whether you are new to hackathons or a hackathon veteran, we welcome hackers of all levels of experience. For those who are new to hackathons, we will offer workshops and instructional videos to help you figure out a potential project.
                    We will also have mentors and volunteers to guide you through your hardware hack.</p>
                <h5>What should I bring?</h5>
                <p>Yourself, your valid university ID, a form of identification proving you are over 18 years old, a laptop, chargers, toiletries, unprogrammed hardware, or anything else you believe you will need within the 24 hours. Firearms, weapons, alcohol, illegal drugs,
                    and power tools are not allowed. </p>
                <h5>Is there travel reimursement?</h5>
                <p>We would like to provide opportunity for all hackers to attend TAMUmake. We are currently providing travel reimbursement on per case basis. We will not be providing reimbursements to college students in the College Station or Brian area.
                    Devpost submissions will be required for reimbursements. We will require proof of transactions in order to reimburse.</p>
                <h5>How much money will this cost me?</h5>
                <p>Absolutely nothing! It is all free! TAMUmake will provide hardware, Wi-FI, meals, swag, workspace, and prizes! However, if you believe your project will utilize some special hardware, then you might need to purchase it yourself. Please
                    checkout our list of hardware here.</p>
                <h5>What do I wear?</h5>
                <p>Wear whatever you are most comfortable in! There is no need to dress professionally, however you will need to be dressed within the MLH Code of Conduct.</p>
                <h5>When is TAMUmake?</h5>
                <p>February 16-17, 2018.</p>
            </div>
            <div class="col-sm-12 col-lg-6">
                <h5>What is a hackathon?</h5>
                <p>A hackathon is an event where students build an idea into reality. TAMUmake is a hackathon that is geared more toward hardware hacking and learning new skills and coming up with creative solutions using technology. To assist all levels
                    of hackers, we will provide mentorship, workshops, and tutorial videos. Beginners are welcome!</p>
                <h5>What are the rules?</h5>
                <p>All work must be done at the event. You can only demo something you built. All attendees are required to abide by the MLH Code of Conduct and TAMUmake rules. <a href="https://docs.google.com/document/d/1XF7tjoHOOgnrcIEWuAbbWejXZZveCasZNfCrVeTOYNs" target="_blank">Click here for the full list of rules.</a></p>
                <h5>How do I register and when does registration open?</h5>
                <p>Registration is open and you can register for an account using an email/password or use your Google account to authenticate. From there you can submit the overall application, team, and check your application status.</p>
                <h5>How do teams work?</h5>
                <p>Teams can be up to 5 members. If you do not have a team, you can check out our Facebook group. Hacking as a group is the best part of a hackathon. To create a team, complete your application and create your team then supply the team name
                    to the remainder of your team. If you do not have a team, don't worry! We will have a team building event.</p>
                <h5>How do I volunteer at TAMUmake?</h5>
                <p>Volunteer applications will go live very soon. Be sure to stay updated with our mailing list to get a reminder for the hackathon.</p>
                <h5>Where is TAMUmake?</h5>
                <p>TAMUmake will be hosted at the Hildebrand Equine Complex
                        (3240 F and B Road
                        College Station, TX 77843).
                </p>
                <h5>How do I get to the Hildebrand Equine Complex?</h5>
                <p>The location provides free parking throughout the event. Unfortunately, we will not be providing buses this year. If you have any questions about getting to event, please email us at <a href="mailto:ieeetamu.hackathon@gmail.com">ieeetamu.hackathon@gmail.com</a>.</p>
                <h5>Other questions?</h5>
                <p>Please email us at <a href="mailto:ieeetamu.hackathon@gmail.com">ieeetamu.hackathon@gmail.com</a> if you still have any questions! We will be happy ot answer them.</p>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="row">

            <div class="col-sm-12">
                <h2 class="box-header">Sponsors</h2>
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-6 col-lg-4 sponsor">
                        <img src="/assets/img/tmobile-logo.jpg" />
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 sponsor">
                        <img src="/assets/img/ti-logo.jpg" />
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 sponsor">
                        <img src="/assets/img/gm-logo.jpg" />
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 sponsor">
                        <img src="/assets/img/dell-logo.png" />
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 sponsor">
                        <img src="/assets/img/ieee-logo.jpg" />
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 sponsor">
                        <img src="/assets/img/npc-logo.jpg" />
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 sponsor">
                        <img src="/assets/img/kind-logo.jpg" />
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 sponsor">
                        <img src="/assets/img/sec-logo.png" />
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 sponsor">
                        <img src="/assets/img/pepsi-logo.png" />
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 sponsor">
                        <a href="https://ieee-tamu.org/" target="_blank">
                        <img src="/assets/img/ieee-tamu-logo.jpeg"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="box-header">Partners</h2>
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-6 col-lg-3 partner">
                        <a href="#"><img src="/assets/img/mlh-logo.png" /></a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-7 partner">
                        <a href="#"><img src="/assets/img/ecen-logo.jpg" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer id="footer">
    <ul class="icons">
        <li><a href="https://twitter.com/tamumake" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/tamumake" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/tamumake/" target="_blank"  class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="https://github.com/TAMU-IEEE" target="_blank"  class="icon fa-github"><span class="label">Github</span></a></li>
        <!-- <li><a href="#" class="icon fa-slack"><span class="label">Slack</span></a></li> -->
        <!-- <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li> -->
    </ul>
    <ul class="copyright">
        <li>&copy; Copyright 2017 TAMUmake. All Rights Reserved.</li>
    </ul>
</footer>