<ng-template #received let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Received Application</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>

    <div class="modal-body">
      <div>
        <label style="font-size: 18px">We have received your application. Please follow us for updates!</label>
      </div>
      <div class="register-logos">
        <a href="https://twitter.com/tamumake" target="_blank"><img src="/assets/img/twitter-logo.png"></a>
      </div>
      <div class="register-logos facebook">
        <a href="https://www.facebook.com/tamumake" target="_blank"><img src="/assets/img/facebook-logo.png"></a>
      </div>
      <div class="register-logos">
        <a href="https://www.instagram.com/tamumake/" target="_blank"><img src="/assets/img/instagram-logo.png"></a>
      </div>
      <div class="register-logos">
        <a href="https://github.com/TAMU-IEEE" target="_blank"><img src="/assets/img/github-logo.png"></a>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="c('home')">Back to Home</button>
    </div>
</ng-template>

<section id="main" class="container">
  <div class="row">
    <div class="col-sm-12">
      <a [routerLink]="['']">< Back</a>
    </div>
    <div class="col-sm-12">
      <h1 class="header">Student Sign Up</h1>
    </div>
  </div>
  <form #registrationForm="ngForm" (ngSubmit)="register(registration)">
    <div class="box">
      <h3 class="box-header">Information</h3>
        <div class="row">
          <div class="col-sm-12 col-md-6 form-group">
            <label>First Name:</label>
            <input type="text" required class="form-control" placeholder="First Name" name="firstName" #firstName="ngModel" [(ngModel)]="registration.firstName"/>
            <div *ngIf="(firstName.pristine && firstName.touched) || (!firstName.valid && firstName.touched)" class="alert alert-danger input-alert">
                First name is required.
            </div>
          </div>
          <div class="col-sm-12 col-md-6 form-group">
            <label>Last Name:</label>
            <input type="text" required class="form-control" placeholder="Last Name" name="lastName" #lastName="ngModel" [(ngModel)]="registration.lastName"/>
            <div *ngIf="(lastName.pristine && lastName.touched) || (!lastName.valid && lastName.touched)" class="alert alert-danger input-alert">
                Last name is required.
            </div>
          </div>
          <div class="col-sm-12 col-md-8 form-group">
            <label>Email:</label>
            <input type="email" required class="form-control" placeholder="Email" name="email" #email="ngModel" [(ngModel)]="registration.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
            <div *ngIf="(email.pristine && email.touched) || (!email.valid && email.touched)" class="alert alert-danger input-alert">
                Please enter a valid email.
            </div>
          </div>
          <div class="col-sm-12 col-md-8 form-group">
            <label>Phone Number:</label>
            <input type="text" required class="form-control" placeholder="Phone Number" name="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="registration.phoneNumber"/>
            <div *ngIf="(phoneNumber.pristine && phoneNumber.touched) || (!phoneNumber.valid && phoneNumber.touched)" class="alert alert-danger input-alert">
                Phone number is required.
            </div>
          </div>
          <div class="col-sm-12 col-md-8 form-group">
            <label>T-Shirt Size: </label>
            <select name="tshirt" #tshirt="ngModel" [(ngModel)]="registration.tshirt">
              <option value="XS">Extra Small</option>
              <option value="S">Small</option>
              <option value="M">Medium</option>
              <option value="L">Large</option>
              <option value="XL">Extra Large</option>
            </select>
          </div>
          <div class="col-sm-12">
            <label>Student:</label>
          </div>
          <div class="col-sm-12 form-group">
            <input type="checkbox" name="student" id="student" [(ngModel)]="registration.isStudent">
            <label class="form-check-label" for="student">I am a student</label>
          </div>
          <div class="col-sm-12">
            <label>Dietary Restrictions:</label>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <input type="checkbox" name="vegetarian" id="vegetarian" [(ngModel)]="registration.isVegetarian">
                <label class="form-check-label" for="vegetarian">Vegetarian</label>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <input type="checkbox" name="vegan" id="vegan" [(ngModel)]="registration.isVegan">
                <label class="form-check-label" for="vegan">Vegan</label>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <input type="checkbox" name="halal" id="halal" [(ngModel)]="registration.isHalal">
                <label class="form-check-label" for="halal">Halal</label>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <input type="checkbox" name="kosher" id="isKosher" [(ngModel)]="registration.isKosher">
                <label class="form-check-label" for="isKosher">Kosher</label>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <input type="checkbox" name="gluten" id="gluten" [(ngModel)]="registration.isGlutenFree">
                <label class="form-check-label" for="gluten">Gluten-free</label>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <input type="checkbox" name="nut" id="nut" [(ngModel)]="registration.isNutAllergy">
                <label class="form-check-label" for="nut">Nut Allergy</label>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <input type="checkbox" name="other" id="other" [(ngModel)]="registration.isOtherAllergy">
                <label class="form-check-label" for="other">Other</label>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 form-group" *ngIf="registration.isOtherAllergy">
                <input class="form-control" placeholder="Other" type="text" name="otherDietValue" id="otherDietValue" [(ngModel)]="registration.otherDietaryRestriction">
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="box">
      <h3 class="box-header">Experience</h3>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label>Have you participated in any previous hackathons?</label>
          <textarea required name="experience1" [(ngModel)]="registration.experience1" #experience1="ngModel"></textarea>
          <div *ngIf="(experience1.pristine && experience1.touched) || (!experience1.valid && experience1.touched)" class="alert alert-danger input-alert">
              Answer to this question is required.
          </div>
        </div>
        <div class="col-sm-12 form-group">
          <label>Describe any previous experience you have with prototyping an idea or design.</label>
          <textarea required name="experience2" [(ngModel)]="registration.experience2" #experience2="ngModel"></textarea>
          <div *ngIf="(experience2.pristine && experience2.touched) || (!experience2.valid && experience2.touched)" class="alert alert-danger input-alert">
              Answer to this question is required.
          </div>
        </div>
        <div class="col-sm-12 form-group">
          <label>Describe your engineering skillset. Do you have any skills relevant to hardware development?</label>
          <textarea required name="experience3" [(ngModel)]="registration.experience3" #experience3="ngModel"></textarea>
          <div *ngIf="(experience3.pristine && experience3.touched) || (!experience3.valid && experience3.touched)" class="alert alert-danger input-alert">
              Answer to this question is required.
          </div>
        </div>
      </div>
    </div>
    <div class="box">
      <h3 class="box-header">Team Info</h3>
      <div class="row">
        <div class="col-sm-12 form-group">
          <input type="radio" id="noteam" value="N" name="hasTeam" [(ngModel)]="registration.hasTeam"/>
          <label class="form-radio-label" for="noteam">I do not have a team I would like to enroll under.</label>
        </div>
        <div class="col-sm-12 form-group">
          <input type="radio" id="yesteam" value="Y" name="hasTeam" [(ngModel)]="registration.hasTeam"/>
          <label class="form-radio-label" for="yesteam">I have a team I would like to enroll under.</label>
        </div>
        <div class="col-sm-12 col-md-6 form-group" *ngIf="registration.hasTeam ==='Y'">
          <input type="text" placeholder="Team Name" id="teamcode" name="teamCode" name="teamCode" [(ngModel)]="registration.teamCode"/>
        </div>
      </div>
    </div>
    <div class="box">
      <h3 class="box-header">Terms and Conditions</h3>
      <div class="row">
        <div class="col-sm-12 form-group">
          <input required type="checkbox" name="termsMLHConduct" id="termsMLHConduct" [(ngModel)]="registration.termsMLHConduct"> 
          <label class="form-check-label" for="termsMLHConduct">I have read and agree to the <a target="_blank" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct</a>.</label>
        </div>
        <div class="col-sm-12 form-group">
          <input required type="checkbox" name="termsMLHContest" id="termsMLHContest" [(ngModel)]="registration.termsMLHContest">
          <label class="form-check-label" for="termsMLHContest">I agree to the terms of both the <a target="_blank" href="https://github.com/MLH/mlh-policies/blob/master/prize-terms-and-conditions/contest-terms.md">MLH Contest Terms and Conditions</a> and the <a target="_blank" href="https://github.com/MLH/mlh-policies/blob/master/privacy-policy.md">MLH Privacy Policy</a>. Please note that you may receive pre and post-event informational e-mails and occasional messages about hackathons from MLH as per the MLH Privacy Policy.</label>
        </div>
      </div>
    </div>
    
    <div class="col-sm-12 submit-registration" >
      <div class="row text-center justify-content-center">
        <div class="col-sm-12 col-md-6">
          <button [disabled]="!registrationForm.valid || isSubmitting" class="button special fit">Submit <i *ngIf="isSubmitting" class="fa fa-spinner fa-spin" style="font-size:24px"></i></button>
        </div>
      </div>
    </div>
  </form>

</section>